.contact-telephone{
    @media (min-width: $breakpoint-desktop) {
        margin-right: 30px;
    }
    @media (max-width: $breakpoint-desktop) {
        text-align: center;
        margin-bottom: 450px;
    }
    @media (max-width: 400px) {
        margin-bottom: 200px;
    }
}

.contact-telephone__description{
    color: #2B3F5B;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 13px;
}

.contact-telephone__telephone{
    color: #2B3F5B;
    font-family: Oranienbaum;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; 
    margin-bottom: 18px;
}

.contact-telephone__time{
    color: #2B3F5B;
    font-family: "Inter";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
