.contact{
    display: flex;
    padding: 85px 162px 87px 109px;
    background: #FFF;
    margin-bottom: 261px;
    @media (max-width: $breakpoint-desktop) {
        padding: 50px 20px 50px 20px;
        display: block;
    }
    @media (max-width: $breakpoint-desktop) {
        margin-bottom: 65px;
    }
}

.contact__image{
    fill: #CC8E1E;
}

.contact__image:hover{
    fill: #b45a05;
}