.footer-social{
    display: flex;
    gap: 20px;
    margin-top: 15px;
    @media (max-width: $breakpoint-desktop) {
        margin-bottom: 10px;
    }
}

.footer-social__image{
    fill: #2B3F5B;
}

.footer-social__image:hover{
    fill: #b45a05;
}