.footer-info{
    display: flex;
    gap: 140px;
    margin-right: 370px;
    @media (max-width: $breakpoint-desktop) {
        margin-right: 0px;
    }
    @media (max-width: $breakpoint-tablet) {
        gap: 50px;
    }
}

.footer-info__item{
    color: #2B3F5B;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}