.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 87.69px;
    width: 1280px;
}

.header__nav{
    display: flex;
    align-items: center;
    gap: 24px;
}

.header__user{
    display: flex;
    gap: 20px;
    align-items: center;
}

.header__logo{
    width: 66.83px;
    height: 63.312px;
}
