.health{
    margin-bottom: 160px;
    @media (max-width: $breakpoint-mobile) {
        margin-bottom: 50px;
    }
}

.health__text{
    display: block;
    width: 735px;
    margin: 0 auto;
    @media (max-width: $breakpoint-mobile) {
        width: 290px;
    }
}

.health__text--1, .health__text--2, .health__text--3{
    color: #CC8E1E;
    font-family: Oranienbaum;
    font-size: 82px;
    font-style: normal;
    font-weight: 400;
    line-height: 80%;
    @media (max-width: $breakpoint-mobile) {
        font-size: 32px;
    }
}

.health__text--1{
    margin-left: 29px;
    position: relative;
    @media (max-width: $breakpoint-mobile) {
        margin-left: 9px;
    }
}

.health__text--1::before{
    content: "";
    position: absolute;
    background-image: url(../../img/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
    width: 112px;
    height: 94px;
    top: -30px;
    left: 300px;
    @media (max-width: $breakpoint-mobile) {
        top: -60px;
        left: 80px;
    }
}

.health__text--2{
    color: #000;
}

.health__text--3{
    color: #CC8E1E;
    margin-left: 237px;
    @media (max-width: $breakpoint-mobile) {
        margin-left: 90px;
    }
}