.menu-list{
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.menu-list__item{
    color: #CC8E1E;
    font-family: "Inter";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.menu-list__link:hover{
    color: #ffbb00;
}