.offer-slider{
    width: 629px;
    height: 294px;
    margin-left: 104px;
    margin-right: 104px;
}

.offer-slider__header{
    color: #000;
    font-family: Oranienbaum;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 16px;
    margin-top: 16px;
}

.offer-slider__description{
    color: #2B3F5B;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
}

.offer-slider__link{
    color: #CC8E1E;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.swiper-button-next:after{
    content: "";
    position: absolute;
    background-image: url(../../img/navigation-right.svg);
    background-position: center;
    z-index: 10;
    width: 88px;
    height: 88px;
    top: 20px;
    left: -50px;
}

.swiper-button-prev:after{
    content: "";
    position: absolute;
    background-image: url(../../img/navigation-left.svg);
    background-position: center;
    z-index: 10;
    width: 88px;
    height: 88px;
    top: 20px;
    left: -10px;
}
