.offer-form{
    border: 1px solid rgba(204, 142, 30, 0.27);
    padding: 26px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.offer-form__header{
    color: #2B3F5B;
    font-family: Oranienbaum;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 16px;
}

.offer-form__input{
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    border-radius: 10px;
    border: 1px solid rgba(204, 142, 30, 0.60);
    padding: 8px 16px;
    width: 361px;
    margin-bottom: 8px;

    @media (max-width: $breakpoint-tablet) {
        width: 250px;
    }
}

.offer-form__button{
    color: #FFF;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    border-radius: 50px;
    border: 0;
    background: #CC8E1E;
    padding: 19px 159px;
    margin-bottom: 14px;
    cursor: pointer;
    @media (max-width: $breakpoint-tablet) {
        padding: 19px 100px;
    }
}

.offer-form__button:hover{
    background: rgb(236, 159, 15);
}

.offer-form__check{
    margin-top: 8px;
    display: flex;
    align-items: flex-start;
    gap: 4px;
    margin-bottom: 16px;
}