.offer{
    margin-bottom: 116px;
}

.offer__slider{
    width: 629px;
    height: 294px;
    @media (min-width: $breakpoint-desktop) {
        margin-left: 104px;
        margin-right: 104px;
    }
    @media (max-width: $breakpoint-desktop) {
        width: 600px;
        height: 294px;
    }
    @media (max-width: $breakpoint-mobile) {
        width: 300px;
        height: 294px;
    }
}

.offer__block{
    display: flex;
    gap: 30px;
    @media (max-width: $breakpoint-desktop) {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

.offer__form{
    @media (max-width: $breakpoint-mobile) {
        width: 300px;
        margin-top: 100px;
    }
    @media (min-width: $breakpoint-tablet) {
        margin-top: 200px;
    }
    @media (min-width: $breakpoint-desktop) {
        margin-top: 0px;
    }
}

.offer__header{
    color: #2B3F5B;
    font-family: Oranienbaum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    text-transform: uppercase;
    margin-bottom: 48px;
}

.offer__subheader{
    color: #000;
    font-family: Oranienbaum;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 16px;
    margin-top: 16px;
    @media (max-width: $breakpoint-mobile) {
        font-size: 28px;
    }
}

.offer__description{
    color: #2B3F5B;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
}

.offer-slider__link{
    color: #CC8E1E;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}