.price-header__item{
    color: #2B3F5B;
    text-align: center;
    font-family: Oranienbaum;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

.price-header{
    padding: 16px 0px 16px 0px;
    margin-bottom: 26px;
    background: #FAF4E8;
    display: grid;
    grid-template-columns: 197px 630px 197px;
    gap: 20px;
}

.price__block{
    position: relative;
}

.price__block::after{
    content: "";
    position: absolute;
    background-image: url(../../img/price-scroll.svg);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
    width: 8px;
    height: 762px;
    top: 45px;
    right: 60px;
}