.promotion{
    display: flex;
    align-items: center;
    gap: 129px;
    margin-bottom: 89px;
    @media (max-width: 1340px) {
        justify-content: center;
    }
    @media (max-width: $breakpoint-tablet) {
        display: block;
    }
}

.promotion__header{
    color: #2B3F5B;
    font-family: Oranienbaum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    text-transform: uppercase;
    margin-bottom: 24px;
    max-width: 413px;
}

.promotion__description{
    color: #2B3F5B;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    max-width: 445px;
}

.promotion__image{
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    position: relative;
}

.promotion__image--blur::after{
    position: absolute;
    content: "";
    background-position: center;
    z-index: 10;
    width: 395px;
    height: 424.28506px;
    top: -10px;
    left: 340px;
    padding: 151px 137px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(241, 239, 233, 0.70);
    background-image: url(../../img/promotion-image--blur.svg);
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(15px);
    @media (max-width: $breakpoint-desktop) {
        width: 278px;
        height: 296px;
        left: 230px;
    }
    @media (max-width: 1175px) {
        display: none;
    }
}


